stages:
  - compile
  - test
  - deploy

build:
  stage: compile
  image: golang:latest
  script:
    - go get -d -v
    - go build -o bin/rest-gin-api

test:
  stage: test
  image: golang:lastest
  script:
    - go test service/*.go

staging:
  stage: deploy
  script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
    - dpl --provider=heroku --app=rest-gin-api --api-key=$HEROKU_API_KEY$
  environment:
    name: Development
    url: https://rest-gin-api.heroku.com/
  only:
    - ci-cd